<div class="article-type__event article-type">
  <p class="article-type__title">ÉVÈNEMENT</p>
  {{> atoms-pin_blanc }}
</div>

<div class="article-type__logiciel article-type">
  <p class="article-type__title">LOGICIELS</p>
  {{> atoms-pin_blanc }}
</div>

<div class="article-type__lectures article-type">
  <p class="article-type__title">LECTURES</p>
  {{> atoms-pin_blanc }}
</div>

<div class="article-type__veilles article-type">
  <p class="article-type__title">VEILLES</p>
  {{> atoms-pin_blanc }}
</div>

<div class="article-type__histoire_du_web article-type">
  <p class="article-type__title">HISTOIRE DU WEB</p>
  {{> atoms-pin_blanc }}
</div>

<div class="article-type__focus article-type">
  <p class="article-type__title">FOCUS</p>
  {{> atoms-pin_blanc }}
</div>