<div>Primary font: "Euromode", sans-serif;</div>
<div><em>Primary font italic: ...</em></div>
<div><strong>Primary font bold: "Euromode"</strong></div>
<div class="font-secondary">Secondary font light: "Avenir", serif;</div>
<div class="font-secondary"><em>Secondary font italic: ...</em></div>
<div class="font-secondary"><strong>Secondary font bold: ...</strong></div>